body {
    scroll-behavior: smooth;
}

.navbar-nav .nav-link {
    margin-left: 20px;
}

footer .social-icons a {
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 10px;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.bg-primary {
    background-image: url(images/logo_jpg.jpg);
    background-size: 110% ;
    background-position: center;
    background-repeat: no-repeat;
    margin: 40;
    
    
    /*background-color: #1F451F !important;*/
    opacity: 0.8;
}

.text-light {
    color: #f8f9fa !important;
}

#logo_link
{
    font-family: "Adobe Std L", Arial sans-serif;
}

#link 
{
    font-family: "Adobe Std L", Arial sans-serif;
}
.custom-hr{
    border: 0;
    border-top: 2px solid #1f451f;
    margin: 1rem 0;
}
.video-item {
    margin: 10px;
    width: calc(33.333% - 20px); /* Adjust percentage as needed for different grid sizes */
    box-sizing: border-box;
}

video {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}